## Временные файлы и кэш Visual Studio (полностью блокируем)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Локальная папка с тестами и черновиками (полностью блокируем)
Test/
[Tt]est/

## Папки промежуточной компиляции .NET (оставляем bin, где лежат релизы, но убираем obj)
**/obj/
SciterTest/obj/

## Локальные системные файлы кэша ОС и логи
*.log
Thumbs.db
Desktop.ini
.DS_Store
